.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}

.main-container{
    /* align-items: end; */
    justify-content: space-around;
}

.body{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}

.restaurant-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px;
    margin:20px;
   align-content: space-between;
}

.filter-container {
    display: flex;
    margin:25px;
    padding-left: 20px;
}

.restaurant-card {
    border: 1px solid #f7f4f4;
    width: 250px;
    margin: 5px;
    padding: 10px;
    border-radius: 15px;
}

.restaurant-card:hover{
    border: 3px solid lightgray;
    cursor: pointer;
}
.restaurant-logo {
    height:180px;
    width: 240px
}

.nav-items {
    padding: 0px 20px;
}
.nav-items > ul{
    display:flex;
}
.nav-items >ul >li {
    padding :15px;
    list-style: none;
    font-size: 25px;
 
}

.logo {
    width: 270px;
    padding: 0px 10px;
}

.filter-btn {
    margin: 5px;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.shimmer-card {
    border: 1px solid #f7f4f4;
    width: 200px;
    height: 400px;
    margin: 5px;
    padding: 10px;
    background: #f0f0f0

}



.restaurant-menu {
    margin: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;
}
.menuList {
    list-style-type: none;
}
.menuList >li{
    border: 1px solid #6b6969;
    /* width: 350px; */
    margin: 5px;
    padding: 10px;
    border-radius: 15px;
}

.menuList >li:hover{
    /* border: 3px solid lightgray; */
    cursor: pointer;
    background: #f0f0f0;
}
.restaurantDetails {
    text-align: left;
}

.restaurant-menu{
    min-width:500px;
}
.restName {
    display: flex;
    align-items: baseline;
}